<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.MenuDao">


   <select id="findMenuByRoleId" parameterType="Integer" resultType="Menu">
       select m.* from role_menu rm,menu m where rm.role_id=#{role_id} and rm.menu_id = m.menu_id
   </select>

    <select id="findThreeMenuByRoleId" parameterType="Integer" resultType="Menu">
       select m.* from role_menu rm,menu m where rm.role_id=#{role_id} and rm.menu_id = m.menu_id and m.menu_level = 3
   </select>

    <select id="findAllMenu" resultType="Menu">
        select menu_id,menu_name,menu_url,menu_level,menu_fid from menu where menu_del=1 and menu_state=1 and menu_category=1
    </select>

    <select id="findMenuById" parameterType="Long" resultType="Menu">
        select * from menu where menu_id=#{menu_id}
    </select>

    <update id="updateMenu" parameterType="Menu">
        update menu set menu_name=#{menu_name},menu_state=#{menu_state},menu_remark=#{menu_remark} where menu_id=#{menu_id}
    </update>
    
    <insert id="insertMenu" parameterType="Menu">
        insert into menu (menu_name,menu_url,menu_state,menu_del,menu_remark,menu_level,menu_fid,menu_del)
        values (#{menu_name},#{menu_url},1,1,#{menu_remark},#{menu_level},#{menu_fid},1)
    </insert>

    <update id="deleteMenu" parameterType="Long">
        update menu set menu_del=2 where menu_id=#{menu_id}
    </update>
</mapper>